.hero-section {
  height: 100vh;
  position: relative;
  margin-left: -190px;
  margin-right: -170px;
}
.filter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 40px 20px; */
  text-align: center;
}

.filter-intro-text {
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 20px auto;
  text-align: center;
  color: #333; /* couleur de texte neutre */
  max-width: 600px;
  background: none; /* supprime tout fond */
  border: none; /* supprime les bordures */
  box-shadow: none; /* supprime toute ombre */
  padding: 0; /* enlève les marges internes s'il y en a */
}

.animated-intro {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideUp 1s ease-out forwards;
}

@keyframes fadeSlideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.search-button {
  padding: 12px 25px;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #45a049;
}

.property-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* important */
  height: 100%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.property-card:hover {
  transform: scale(1.05);
}

.properties-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}

.property-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Right */
  margin-top: auto; /* Push to bottom */
}

.search-btn {
  background-color: #4f46e5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.search-btn:hover {
  background-color: #4338ca;
}
