.forgot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .forgot-box {
    text-align: center;
  }
  
  .forgot-image {
    width: 60px;
    margin-bottom: 20px;
  }
  
  .forgot-title {
    font-size: 24px;
    font-weight: 700;
    color: white;
  }
  
  .forgot-subtitle {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 20px;
  }
  
  .forgot-input {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border-radius: 25px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    outline: none;
  }
  
  .forgot-btn {
    width: 100%;
    padding: 12px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .forgot-btn:hover {
    background-color: #e64a19;
  }
  
  .strength-bar {
    height: 5px;
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  
  .bar {
    height: 100%;
    transition: width 0.3s ease;
  }
  