.forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.forgot-box {
  width: 90%;
  max-width: 600px; /* Increase max width to make the form larger */
  text-align: center;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  color: white;
}

.forgot-image {
  width: 100px; /* Increased image size */
  margin-bottom: 20px;
}

.forgot-title {
  font-size: 28px; /* Increase the title size */
  font-weight: 700;
  color: #fff7f7;
}

.forgot-subtitle {
  font-size: 16px; /* Increase subtitle size */
  color: #ddd;
  margin-bottom: 30px;
}

.forgot-input {
  width: 100%;
  padding: 15px; /* Increase padding for larger input */
  font-size: 18px; /* Increase font size for better readability */
  border-radius: 25px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  outline: none;
}

.forgot-btn {
  width: 100%;
  padding: 15px; /* Increase button padding */
  background-color: #eeddbe;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 18px; /* Larger button font size */
  cursor: pointer;
  transition: background 0.3s;
}

.forgot-btn:hover {
  background-color: #0f0a09;
}

.forgot-footer {
  margin-top: 20px;
  font-size: 16px; /* Increased footer font size */
  color: #ddd;
  cursor: pointer;
}

.back-arrow {
  margin-right: 6px;
}
